<%- include('../layouts/userHeader.ejs') %>



<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/">HOME</a>
                        <span>SHOP</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <!-- Shop Sidebar Search Section -->
                    <div class="shop__sidebar__search">
                        <form action="/shop" method="get"> 
                            <input type="text" name="search" placeholder="Search..." value="<%= renderData.search || '' %>">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <% renderData.categories.forEach(function(category) { %>
                                                    <li><a href="/shop?category=<%= category.name %>"><%= category.name %> (<%= category.productCount %>)</a></li>
                                                <% }); %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="/shop?priceRange=0-100">$0.00 - $100.00</a></li>
                                                <li><a href="/shop?priceRange=100-500">$100.00 - $500.00</a></li>
                                                <li><a href="/shop?priceRange=500-1000">$500.00 - $1000.00</a></li>
                                                <li><a href="/shop?priceRange=1000-1500">$1000.00 - $1500.00</a></li>
                                                <li><a href="/shop?priceRange=1500-5000">$1500.00 - $5000.00</a></li>
                                                <li><a href="/shop?priceRange=5000+">$5000.00+</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            
                                            <label for="sm">s
                                                <input type="radio" id="sm">
                                            </label>
                                            <label for="md">m
                                                <input type="radio" id="md">
                                            </label>
                                            <label for="l">l
                                                <input type="radio" id="l">
                                            </label>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>
                                    Showing <%= (renderData.currentPage - 1) * renderData.limit + 1 %> - 
                                    <%= Math.min(renderData.currentPage * renderData.limit, renderData.totalProducts) %> of 
                                    <%= renderData.totalProducts %> results
                                </p>
                            </div>
                        </div>
                        <!-- Shop Product Option Right Section (Sort By Dropdown) -->
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by:</p>
                                <form action="/shop" method="get">
                                    <select name="sortBy" onchange="this.form.submit()">
                                        <option value="popularity" 
                                            <% if (sortBy === 'popularity') { %> selected <% } %>
                                        >Popularity</option>
                                        
                                        <option value="price_low_to_high" 
                                            <% if (sortBy === 'price_low_to_high') { %> selected <% } %>
                                        >Price: Low to High</option>
                                        
                                        <option value="price_high_to_low" 
                                            <% if (sortBy === 'price_high_to_low') { %> selected <% } %>
                                        >Price: High to Low</option>
                                        
                                        <option value="average_ratings" 
                                            <% if (sortBy === 'average_ratings') { %> selected <% } %>
                                        >Average Ratings</option>
                                        
                                        <option value="featured" 
                                            <% if (sortBy === 'featured') { %> selected <% } %>
                                        >Featured</option>
                                        
                                        <option value="new_arrivals" 
                                            <% if (sortBy === 'new_arrivals') { %> selected <% } %>
                                        >New Arrivals</option>
                                        
                                        <option value="a_to_z" 
                                            <% if (sortBy === 'a_to_z') { %> selected <% } %>
                                        >A - Z</option>
                                        
                                        <option value="z_to_a" 
                                            <% if (sortBy === 'z_to_a') { %> selected <% } %>
                                        >Z - A</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <% if (renderData.productData.length > 0) { %>
                      <% renderData.productData.forEach(product => { %>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                          <div class="product__item">
                            <!-- Dynamic Image -->
                            <div class="product__item__pic">
                              <a href="/productDetails/<%= product._id %>">
                                <img src="/uploads/products/<%= product.mainImage %>" alt="<%= product.name %>" class="img-fluid product-image">
                              </a>
                              <% if (product.outOfStock) { %>
                                <div class="label out-of-stock" style="background-color: black; color: white;width: 109px; height: 20px;">Out of Stock</div>
                            <% } else if (product.isNew) { %>
                                <div class="label new" style="background-color: #36a300;width: 50px; height: 20px;">New</div>
                            <% } %>
                              <ul class="product__hover">
                                <li><a href="/addToWishlist?productId=<%=product._id%>"><img src="/userAssets/img/icon/heart.png" alt=""></a></li>
                                <% if (!product.outOfStock) { %>
                                    <li><a href="/addToCart?productId=<%= product._id %>"><span class="icon_bag_alt"></span></a></li>
                                <% } else { %>
                                    <li><span class="icon_bag_alt_disabled"></span></li>
                                <% } %>
                              </ul>
                            </div><br><br><br>
                            <div class="product__item__text">
                              <!-- Dynamic Name -->
                              <h6><%= product.name %></h6>
                              <!-- <a href="/addToCart?productId=<%= product._id %>" class="add-cart">+ Add To Cart</a> -->
                              <% if (!product.outOfStock) { %>
                                <!-- <li><a href="/addToCart?productId=<%= product._id %>"><span class="icon_bag_alt"></span></a></li> -->
                              <a href="/addToCart?productId=<%= product._id %>" class="add-cart">+ Add To Cart</a>

                            <% } else { %>
                                <a href="#" class=" add-cart" disabled>Out of Stock</a>
                            <% } %>
                              <!-- Static Rating -->
                              <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                              </div>
                              <!-- Dynamic Price -->
                              <% if (product.discountedPrice < product.price) { %>
                                <div class="product__price">
                                    <span style="text-decoration: line-through;">₹ <%= product.price %></span> ₹ <%= product.discountedPrice %>
                                </div>
                            <% } else { %>
                                <div class="product__price">₹ <%= product.price %></div>
                            <% } %>
                              
                              <div class="product__color__select">
                                <label for="pc-<%= product._id %>">
                                  <input type="radio" id="pc-<%= product._id %>">
                                </label>
                                <label class="active black" for="pc-black-<%= product._id %>">
                                  <input type="radio" id="pc-black-<%= product._id %>">
                                </label>
                                <label class="grey" for="pc-grey-<%= product._id %>">
                                  <input type="radio" id="pc-grey-<%= product._id %>">
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% }); %>
                    <% } else { %>
                      <!-- Display No Products Available -->
                      <div class="col-12">
                        <div class="alert alert-warning text-center" role="alert">
                          No products are available at the moment. Please check back later!
                        </div>
                      </div>
                    <% } %>
                  </div>
                  
                  
                  
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<%- include('../layouts/userFooter.ejs') %>


